{% extends 'base.html' %}

{% block content %}

<section class="admin-layout">
    {% include 'panel/sidebar.html' %}

    <div class="admin-content">

        <div class="admin-header page-card-header">
            <div>
                <h1>Audit Logs</h1>
                <p class="admin-subtitle">Track create, update, and delete activities.</p>
            </div>
        </div>

        <div class="table-card">
            <table>
                <thead>
                    <tr>
                        <th>Date & Time</th>
                        <th>User</th>
                        <th>Action</th>
                        <th>Module</th>
                        <th>Record</th>
                    </tr>
                </thead>

                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.created_at|date:"d M Y, h:i A" }}</td>
                        <td>
                            {% if log.user %}
                                {{ log.user.username }}
                            {% else %}
                                System
                            {% endif %}
                        </td>
                        <td>{{ log.get_action_display }}</td>
                        <td>{{ log.model_name }}</td>
                        <td>{{ log.object_repr }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="empty-row">No audit logs found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</section>

{% endblock %}