{% extends 'base.html' %}

{% block content %}

<section class="page-header">
    <h1>Bikes You Missed</h1>
    <p>These popular bikes found their new owners. Don’t miss the next one!</p>
</section>

<section class="section">
    <div class="bike-grid">
        {% for bike in bikes %}
        <div class="bike-card sold">
            {% if bike.bike_photo %}
                <img src="{{ bike.bike_photo.url }}" alt="{{ bike.bike_name }}">
            {% endif %}

            <span class="sold-badge">Sold</span>

            <h3>{{ bike.bike_name }}</h3>
            <p>{{ bike.brand }} | {{ bike.model_year }}</p>
            <p>{{ bike.km_driven }} KM Driven</p>
            <h4>₹ {{ bike.selling_price }}</h4>
        </div>
        {% empty %}
        <p>No sold bikes added yet.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}